body {
  background-image: url(https://i.pinimg.com/originals/d5/6f/e5/d56fe588cfb09ef215c79f68039cfda0.jpg);
}

.App {
  text-align: center;
  padding: 20px;
}

.card {
  max-width: 70%;
  opacity: 85%;
}

.card-title {
  color: black;
  position: absolute;
  margin-top: 50px;
  padding: 10px;
}

.card-date {
  position: absolute;
  padding: 10px;
  margin-top: 30px;
  color: rgb(7, 8, 8);
  font-size: 1, 5em;
  font-family: sans-serif;
}

.card-temp {
  position: absolute;
  padding-left: 10px;
  margin-top: 170px;
  font-size: 50px;
  font-family: sans-serif;
}

.card-desc {
  position: absolute;
  padding-left: 0px;
  margin-top: 120px;
  font-family: sans-serif;
}

.col {
  color: rgb(188, 190, 190);
  margin-top: 15px;
  font-family: sans-serif;
  font-size: 1em;
}

.card-text {
  color: rgb(188, 190, 190);
}
